[Unit]
Description=Nextcloud container

[Container]
ContainerName=nextcloud
Image=docker.io/library/nextcloud:apache
AutoUpdate=registry
Pod=nextcloud.pod
Volume=nextcloud-html:/var/www/html:idmap,Z
Volume=nextcloud-data.volume:/var/www/html/data
Secret=nextcloud_mysql,type=env,target=MYSQL_PASSWORD
EnvironmentFile=/etc/containers/environment/nextcloud.env

[Install]
WantedBy=default.target
