[Unit]
Description=Valkey container for Nextcloud

[Container]
ContainerName=nextcloud-valkey
Image=docker.io/valkey/valkey:alpine
AutoUpdate=registry
Pod=nextcloud.pod

[Install]
WantedBy=default.target
