*.container linguist-language=Ini
*.pod linguist-language=Ini
*.kube linguist-language=Ini
*.network linguist-language=Ini
*.volume linguist-language=Ini
*.build linguist-language=Ini
*.image linguist-language=Ini
