[Unit]
Description=Technitium DNS Server container

[Container]
ContainerName=dns-server
Image=docker.io/technitium/dns-server:latest
AutoUpdate=registry
Volume=/etc/localtime:/etc/localtime:ro
Volume=technitium-dns:/etc/dns
EnvironmentFile=%h/.config/containers/environment/dns-server.env
PublishPort=5380:5380/tcp
#PublishPort=53443:53443/tcp
PublishPort=1053:53/tcp
PublishPort=1053:53/udp
#PublishPort=1853:853/tcp
#PublishPort=1853:853/udp
#PublishPort=8443:443/tcp
#PublishPort=8443:443/udp
#PublishPort=8080:80/tcp
#PublishPort=8053:8053/tcp
#PublishPort=1067:67/udp
DNS=1.1.1.1
DNS=1.0.0.1
DNS=2606:4700:4700::1111
DNS=2606:4700:4700::1001

[Service]
Restart=unless-stopped
TimeoutStartSec=90
TimeoutStopSec=30

[Install]
WantedBy=default.target
