[Unit]
Description=Valkey container for Nextcloud

[Container]
ContainerName=valkey
Image=docker.io/valkey/valkey:alpine
Pod=nextcloud.pod
Exec=redis-server

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
