[Unit]
Description=Authentik worker container
BindsTo=authentik-postgres.container
After=authentik-postgres.container
PartOf=authentik-server.container
Before=authentik-server.container

[Container]
ContainerName=authentik-worker
Image=ghcr.io/goauthentik/server:2026.5.5
Exec=worker
User=root
AutoUpdate=registry
Volume=authentik-data:/data:idmap,z
Volume=authentik-certs:/certs:idmap,Z
Volume=authentik-templates:/templates:idmap,Z
Network=authentik.network
UserNS=auto
EnvironmentFile=/etc/containers/environment/authentik.env

[Service]
Restart=unless-stopped

[Install]
WantedBy=default.target
