[Unit]
Description=MariaDB container for Pterodactyl

[Container]
ContainerName=pterodactyl-mariadb
Image=docker.io/library/mariadb:latest
Pod=pterodactyl.pod
AutoUpdate=registry
Volume=pterodactyl-mariadb:/var/lib/mysql
Environment=MYSQL_DATABASE=panel
Environment=MYSQL_USER=pterodactyl
Secret=pterodactyl_mysql_root,type=env,target=MYSQL_ROOT_PASSWORD
Secret=pterodactyl_mysql,type=env,target=MYSQL_PASSWORD

[Service]
Restart=on-failure

[Install]
WantedBy=default.target