[Unit]
Description=MariaDB container for Pterodactyl

[Container]
ContainerName=pterodactyl-mariadb
Image=docker.io/library/mariadb:latest
AutoUpdate=registry
Pod=pterodactyl.pod
Volume=pterodactyl-mariadb:/var/lib/mysql
EnvironmentFile=%h/.config/containers/environment/pterodactyl.env
Secret=pterodactyl_mysql_root,type=env,target=MYSQL_ROOT_PASSWORD
Secret=pterodactyl_mysql,type=env,target=MYSQL_PASSWORD

[Install]
WantedBy=default.target
