[Unit]
Description=Pterodactyl panel

[Container]
ContainerName=pterodactyl-panel
Image=ghcr.io/pterodactyl/panel:latest
Pod=pterodactyl.pod
Volume=pterodactyl-panel:/app/var
Volume=pterodactyl-nginx:/etc/nginx/http.d
Volume=pterodactyl-logs:/app/storage/logs
Secret=pterodactyl_mysql,type=env,target=DB_PASSWORD
Secret=pterodactyl_redis,type=env,target=REDIS_PASSWORD
Secret=pterodactyl_hashids,type=env,target=HASHIDS_SALT
EnvironmentFile=%h/.config/containers/environment/pterodactyl.env

[Service]
Restart=on-failure

[Install]
WantedBy=default.target