[Unit]
Description=Portainer container

[Container]
ContainerName=portainer
Image=docker.io/portainer/portainer-ce:latest
PublishPort=9000:9000
Volume=%t/podman/podman.sock:/var/run/docker.sock
Volume=portainer-data:/data
SecurityLabelDisable=true

[Service]
Restart=unless-stopped

[Install]
WantedBy=default.target