[Unit]
Description=MariaDB container for servers
Requires=pterodactyl.pod
After=pterodactyl.pod

[Container]
ContainerName=pterodactyl-db
Image=docker.io/library/mariadb:latest
AutoUpdate=registry
Network=pterodactyl_nw
PublishPort=3310:3310
Volume=pterodactyl-db:/var/lib/mysql
Secret=pterodactyl_db_root,type=env,target=MYSQL_ROOT_PASSWORD
Secret=pterodactyl_db,type=env,target=MYSQL_PASSWORD
Environment=MYSQL_USER=pterodactyl
Environment=MYSQL_TCP_PORT=3310

[Service]
Restart=unless-stopped

[Install]
WantedBy=default.target
