[Unit]
Description=Caddy container for Nextcloud

[Container]
ContainerName=caddy
Image=docker.io/caddy:latest
Pod=nextcloud.pod
AutoUpdate=registry
Volume=caddy-data:/data:Z
Volume=caddy/Caddyfile:/etc/caddy/Caddyfile:Z
Volume=caddy-html:/var/www/html:ro,Z

[Service]
Restart=on-failure

[Install]
WantedBy=default.target