[Unit]
Description=MariaDB container for Nextcloud

[Container]
ContainerName=mariadb
Image=docker.io/library/mariadb:latest
AutoUpdate=registry
Pod=nextcloud.pod
Volume=nextcloud-mariadb:/var/lib/mysql
Secret=nextcloud_mysql_root,type=env,target=MYSQL_ROOT_PASSWORD
Secret=nextcloud_mysql,type=env,target=MYSQL_PASSWORD
EnvironmentFile=%h/.config/containers/environment/nextcloud.env
Exec=--transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW

[Service]
Restart=unless-stopped

[Install]
WantedBy=default.target
