[Unit]
Description=Nextcloud container

[Container]
ContainerName=nextcloud
Image=docker.io/library/nextcloud:fpm-alpine
Pod=nextcloud.pod
AutoUpdate=registry
Volume=nextcloud-html:/var/www/html:z
Volume=nextcloud-data:/var/www/html/data
Secret=nextcloud_mysql,type=env,target=MYSQL_PASSWORD
#Environment=PHP_MEMORY_LIMIT=2G  # default is 512MB
Environment=REDIS_HOST=localhost
Environment=MYSQL_HOST=localhost
Environment=MYSQL_DATABASE=nextcloud
Environment=MYSQL_USER=nextcloud

[Service]
Restart=on-failure

[Install]
WantedBy=default.target