[Unit]
Description=Valkey container for Nextcloud

[Container]
ContainerName=valkey
Image=docker.io/valkey/valkey:alpine
Pod=nextcloud.pod
AutoUpdate=registry
Exec=redis-server

[Service]
Restart=unless-stopped

[Install]
WantedBy=default.target
