[Unit]
Description=Valkey container for Nextcloud

[Container]
ContainerName=valkey
Image=docker.io/valkey/valkey:alpine
Pod=nextcloud.pod
AutoUpdate=registry
Exec=redis-server --requirepass password_here

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
